@charset "UTF-8";

@font-face {
  /* Used font from my website */
	font-family: 'Open Sans Light';
	src: url('https://kavemans.dev/src/fonts/OpenSans/Light.eot');
	src: local('Open Sans Light'),
         url('https://kavemans.dev/src/fonts/OpenSans/Light.woff') format('woff'),
         url('https://kavemans.dev/src/fonts/OpenSans/Light.ttf') format('truetype');
}

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", sans-serif;
  color: #fff;
  background-color: #131a26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  z-index: 5;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

header > a {
  font-size: 1.2em;
  position: absolute;
  top: 0;
  left: 15px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: 200ms ease-in-out;
}

header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: 200ms ease-in-out;
}

header a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#menuBG {
  width: 600px;
  height: 470px;
  margin: 10px auto;
}

#fzmMenu {
  width: 600px;
  height: 200px;
}

#totalPrice {
  width: 200px;
  height: 190px;
  margin: 0 auto;
  float: right;
}

.left {
  width:200px;
  height:200px;
  float:left;
}

.right {
  width: 200px;
  height: 200px;
  float: right;
}

#ResultText {
  width: 200px;
  height: 190px;
  margin: 0px auto;
  float: left;
}

#cart {
  top: 0;
  margin: 0px auto;
  width: 400px;
  height: 200px;
}

#btnOrder {
  margin: 10px 0 0 0;
  width: 100px;
  height: 40px
}

.size::after {
  content: attr(name);
  color: #f00;
  display: inline-block;
}